[submodule "doc"]
	path = doc
	url = ../OpenModelica-doc.git
[submodule "common"]
	path = common
	url = ../OpenModelica-common.git
[submodule "libraries"]
	path = libraries
	url = ../OMLibraries.git
[submodule "OMC"]
	path = OMCompiler
	url = ../OMCompiler.git
